$fontFamily: "Segoe UI";
* {
  box-sizing: border-box;
  user-select: none;
}
body {
  background: #01a8f7 url("../images/wallpaper.jpg") center center / cover
    no-repeat;
  font-family: $fontFamily;
  min-height: 100vh;
  padding: 20px;
  margin: 0;
  overflow: hidden;
}
.calculator {
  width: 330px;
  height: 480px;
  background-color: rgba(255, 255, 255, 0.6);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  backdrop-filter: blur(20px);
  border: 1px solid #323232;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  justify-content: space-between;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.3s ease;
  h1 {
    margin: 0;
    font-size: 0.8em;
    font-weight: 400;
    padding: 8px 12px;
    cursor: default;
  }
  &.maximize {
    width: 100%;
    height: 100%;
    top: 0 !important;
    left: 0 !important;
    transform: none;
    font-size: 1.4rem;
  }
  .maximize-icon {
    width: 30px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    cursor: pointer;
    &:hover {
      background: rgba(208, 208, 208, 0.9);
    }
  }
}

.display {
  height: 30%;
  text-align: right;
  padding: 0 20px;
}
.expression {
  font-size: 1em;
  font-weight: 300;
  height: 30%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  user-select: all;
}
.result {
  font-size: 3em;
  font-weight: 600;
  height: 60%;
  text-overflow: ellipsis;
  overflow: hidden;
  user-select: all;
}
.buttons {
  display: grid;
  height: 70%;
  grid-template-columns: repeat(4, 1fr);
  gap: 2px;
  padding: 4px;
}
button {
  font-family: $fontFamily;
  border: none;
  outline: none;
  background: rgba(241, 241, 241, 0.9);
  font-weight: 600;
  font-size: 1.2em;
  line-height: 1;
  border-radius: none;
  cursor: default;
  &:hover {
    background: rgba(208, 208, 208, 0.9);
  }

  &.dark {
    font-weight: 400;
    background: rgba(227, 227, 227, 0.6);
    &:hover {
      background: rgba(208, 208, 208, 0.9);
    }
  }
  &.dark {
    font-size: 1em;
    &.big {
      font-size: 1.4em;
    }
  }
  &.bg-white {
    background: rgba(241, 241, 241, 0.9);
    &:hover {
      background: rgba(208, 208, 208, 0.9);
    }
  }
  &.equal {
    background: #6e9ec4;

    &:hover {
      background: #388cce;
    }
  }

  .variable {
    font-family: serif;
    font-style: italic;
    sup {
      font-family: $fontFamily;
    }
  }
  &.undo {
    background: rgba(227, 227, 227, 0.6) url("../images/undo.svg") center
      center/ 1em 1em no-repeat;
    &:hover {
      background: rgba(208, 208, 208, 0.9) url("../images/undo.svg") center
        center/ 1em 1em no-repeat;
    }
  }
}
